= render 'products/topHeader__inner'

- if @category.root?
  - breadcrumb :parent_category
- elsif @category.has_children?
  - breadcrumb :child_category
- else
  - breadcrumb :grandchild_category
= render "layouts/breadcrumbs"

.category__main
  .showMain
    .category__contents
      .title__box
        .catTitle
          = "#{@category.name}の商品一覧"
        .catContents
          %ul.catItems
            - @category.children.each do |child|
              %li.catItem_one
                = link_to "#{child.name}", grandchild_category_path(child.id), class: "itemTitle"
      .productBox
        - @categories_product.each do |product|
          - if product.judgment == "出品中"
            .productBox__List
              = link_to product_path(product.id) do
                %figure.productBox__img
                  = image_tag product.images[0].url.url
                .productBox__body
                  = product.name
                  .details
                    %ul
                      %li #{product.price}円
                      %li
                        %i.fa.fa-star.likeIcon
                    %p (税込)
          - else
            .productBox__List
              = link_to product_path(product.id) do
                %figure.productBox__img
                  = image_tag product.images[0].url.url
                  .productBox__img__soldout
                    SoldOut
                .productBox__body
                  = product.name
                  .details
                    %ul
                      %li #{product.price}円
                      %li
                        %i.fa.fa-star.likeIcon
                    %p (税込)

= render 'products/footer'