.topHeader__inner
  .mainHeader
    %h1.icon
      = link_to root_path do
        = image_tag asset_path("logo.png")
    .searchBox
      %form{"accept-charset": "UTF-8", action: "#", method: "get"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input#searchInput.searchBox__input{name: "key", placeholder: "キーワードから探す"}/
        %button{type: "submit"}
          .searchBox__icon
            = image_tag asset_path("icon-search.png")
        %input{name: "authenticity_token", type: "hidden", value: "63NRKirdP0PAucshyEoZtgi8YdO7zNGF0OSjAmP0f9d9lubm9bfmesKBpUhCaqD/SMU5IVdzx8/30VoiRUmr1w=="}/
    %ul.resultLists

.nav
  %ul.listsLeft
    %li.listsLeft__item.listsLeft__item--first
      = link_to root_path class:"catBtn" do
        カテゴリー
      .tree.displayNone
        %ul.categoryTree
          %li.categoryTree--item
            = link_to root_path, "レディース"
          %li.categoryTree--item
            = link_to root_path, "メンズ"
          %li.categoryTree--item
            = link_to root_path, "ベビー・キッズ"
          %li.categoryTree--item
            = link_to root_path, "インテリア・住まい・小物"
          %li.categoryTree--item
            = link_to root_path, "本・音楽・ゲーム"
          %li.categoryTree--item
            = link_to root_path, "おもちゃ・ホビー・グッズ"
          %li.categoryTree--item
            = link_to root_path, "コスメ・香水・美容"
          %li.categoryTree--item
            = link_to root_path, "家電・スマホ・カメラ"
          %li.categoryTree--item
            = link_to root_path, "スポーツ・レジャー"
          %li.categoryTree--item
            = link_to root_path, "ハンドメイド"
          %li.categoryTree--item
            = link_to root_path, "チケット"
          %li.categoryTree--item
            = link_to root_path, "自動車・オートバイ"
          %li.categoryTree--item
            = link_to root_path, "その他"
    %li.listsLeft__item
      = link_to root_path class: "brandBtn" do
        ブランド
      %ul.brandsPulldown.displayNone
  %ul.listsRight
    - if user_signed_in?
      %li.listsRight__item.listsRight__item--mypage
        = link_to "マイページ", user_path(current_user)
      %li.listsRight__item.listsRight__item--logout
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          = link_to "ログイン", new_user_session_path
        %li.listsRight__item.listsRight__item--new
          = link_to "新規会員登録", new_user_registration_path