.topHeader__inner
  .mainHeader
    %h1.icon
      = link_to root_path do
        = image_tag asset_path("logo.png")
    .searchBox
      %form{"accept-charset": "UTF-8", action: "#", method: "get"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input#searchInput.searchBox__input{name: "key", placeholder: "キーワードから探す"}/
        %button{type: "submit"}
          .searchBox__icon
            = image_tag asset_path("icon-search.png")
        %input{name: "authenticity_token", type: "hidden", value: "63NRKirdP0PAucshyEoZtgi8YdO7zNGF0OSjAmP0f9d9lubm9bfmesKBpUhCaqD/SMU5IVdzx8/30VoiRUmr1w=="}/
    %ul.resultLists

.nav
  %ul.listsLeft
    %li.listsLeft__item.listsLeft__item--first
      = image_tag asset_path("icon_category.png"), class:"nav_img", size: "18×18" 
      = link_to "カテゴリーから探す", categories_path, class:"catBtn" , id: "catroy_top_title" 
      .tree.displayNone
        %ul.categoryTree
          - @parents.each do |parent|
            %li.categoryTree--item
              = link_to "#{parent.name}", "#", class: "parent_category" #id: "#{parent.id}"
    %li.listsLeft__item
      = image_tag asset_path("icon_brand.png"), class:"nav_img", size: "18×18" 
      = link_to "ブランドから探す", brands_path, class: "brandBtn" 
      %ul.brandsPulldown.displayNone
  %ul.listsRight
    - if user_signed_in?
      %li.listsRight__item.listsRight__item--mypage
        = link_to "マイページ", user_path(current_user)
      %li.listsRight__item.listsRight__item--logout
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          = link_to "ログイン", new_user_session_path
        %li.listsRight__item.listsRight__item--new
          = link_to "新規会員登録", new_user_registration_path