= render 'topHeader__inner'

.products-search__body
  .search
    .search-sort
      .search-sort__text 並び替え
      .search-sort__allow.fas.fa-angle-down
    
    .search-detail
      .search-detail__title 詳細検索
      = search_form_for @search, url: search_products_path do |f|
        .search-detail__keyword
          .keyword-icon.fas.fa-plus
          .keyword-text キーワードを追加する
        = f.text_field :name_cont, placeholder: "例)値下げ", class:"search-detail__keyword--input"

        .search-detail__category
          .category-icon.fas.fa-bars
          .category-text カテゴリーを選択する
        = f.collection_select :category_id_eq, Category.roots, :id, :name, {include_blank:"---"}, class:'search-detail__category-box', id:'search_category'
        .child_category

        .search-detail__brand
          .brand-icon.fas.fa-tag
          .brand-text ブランド名から探す
        = f.text_field :brand_eq, placeholder: "例)シャネル", class:"search-detail__brand--input"

        .search-detail__size
          .size-icon.fas.fa-expand
          .size-text サイズを指定する
        = f.collection_select :size_id_eq, Status.where.not(id: 0), :id, :name, {include_blank:"---"}, class: "search-detail__size-box"

        .search-detail__price
          .price-icon.fas.fa-coins
          .price-text 価格
        .search-detail__price-input
          = f.number_field :price_gteq, placeholder: "¥ Min", class:"search-detail__price-input--min" 
          .search-detail__price-input--middle ~
          = f.number_field :price_lteq, placeholder: "¥ Max", class:"search-detail__price-input--max" 

        .search-detail__condition
          .condition-icon.fas.fa-star
          .condition-text 商品の状態
        .search-detail__condition-box 
          .condition-select
            = f.radio_button :status_id_eq, "1", class:"condition-select__text"
            .condition-select__text 新品、未使用
          .condition-select
            = f.radio_button :status_id_eq, "2", class:"condition-select__text"
            .condition-select__text 未使用に近い
          .condition-select
            = f.radio_button :status_id_eq, "3", class:"condition-select__text"
            .condition-select__text 目立った傷や汚れなし
          .condition-select
            = f.radio_button :status_id_eq, "4", class:"condition-select__text"
            .condition-select__text やや傷や汚れあり
          .condition-select
            = f.radio_button :status_id_eq, "5", class:"condition-select__text"
            .condition-select__text 傷や汚れあり
          .condition-select
            = f.radio_button :status_id_eq, "6", class:"condition-select__text"
            .condition-select__text 全体的に状態が悪い

        .search-detail__delivery
          .delivery-icon.fas.fa-truck
          .delivery-text 配送料の負担
        .search-detail__delivery-box
          .delivery-select
            = f.radio_button :cost_eq, "着払い(購入者負担)", class:"delivery-select__text"
            .delivery-select__text 着払い(購入者負担)
          .delivery-select
            = f.radio_button :cost_eq, "送料込み(出品者負担)", class:"delivery-select__text"
            .delivery-select__text 送料込み(出品者負担)

        .search-detail__status
          .status-icon.fas.fa-shopping-cart
          .status-text 販売状況
        .search-detail__status-box
          .status-select
            = f.radio_button :judgment_eq, "出品中", class:"status-select__text"
            .status-select__text 販売中
          .status-select
            = f.radio_button :judgment_eq, "売却済み", class:"status-select__text"
            .status-select__text 売り切れ

        .search-detail__btn
          = reset_tag 'クリア', id: 'js_clear_btn', class:"search-detail__btn--clear"
          = f.submit "完了", class: "search-detail__btn--enter"

  .results
    .titlebox
      .titlebox__subtext 
        検索結果

    .counts 1-132件表示

    .productBox
      - @search_products.each do |product|
        .productBox__List
          = link_to product_path(product) do
            %figure.productBox__img
              = image_tag product.images[0].url.url
            .productBox__body
              = product.name
              .details
                %ul
                  %li #{product.price}円
                  %li
                    %i.fa.fa-star.likeIcon
                %p (税込)

= render 'footer'


